# {{ ansible_managed }}
# This file MUST be edited with the 'visudo' command as root.
#
# Please consider adding local content in /etc/sudoers.d/ instead of
# directly modifying this file.
#
# See the man page for details on how to write a sudoers file.
#
# This file in place for the Vagrant user specifically.

Defaults:vagrant !requiretty

%vagrant ALL=NOPASSWD:ALL
